.ul-navbar-mobile {
  display: flex;
  list-style: none;
}


.dropdown-mobile {
  position: relative;
  display: none;
  width: 100%;
  align-items: center;
  /* برای سازگاری با موبایل */
}

.dropdown-btn-mobile {
  color: white;
  padding: 14px;
  font-size: 16px;
  border: none;
  /* دکمه 100٪ عرض */
  text-align: right;
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .dropdown-btn-mobile .icon {
  margin-left: 10px;
  transition: transform 0.3s ease;
  /* انیمیشن چرخش فلش */


.dropdown-content-mobile {
  display: none;
  position: absolute;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0;
}

.dropdown-content-mobile a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: right;
}

.dropdown-content-mobile a:hover {
  background-color: #6b6b6b;
}

/* حالت باز شده منو */
.dropdown-mobile.show .dropdown-content-mobile {
  display: block;
  background-color: #D9DBDF;
}

/* چرخش آیکون هنگام باز شدن */
/* .dropdown-mobile.show .dropdown-btn-mobile .icon {
  transform: rotate(180deg);
} */

.logo-website-mobile h2 {
  display: none;
}

.logo-website-mobile .icon-swich-mode-dark-and-light-mobile {
  display: none;
}


@media (max-width: 768px) {
  .dropdown-mobile {
    /* margin-top: 10px; */
    position: relative;
    display: inline-block;
    width: 100%;
    /* برای سازگاری با موبایل */
  }

  .dropdown-btn-mobile {
    font-size: 18px;
    padding: 15px;
  }
}

@media only screen and (max-width: 720px) {

  .title-sec-container-h2 {
    display: none;
  }


  .title-sec-container-h2-div {
    display: flex;
    margin-top: 30px;
  }

  .title-sec-container-h2-div>a>h2 {

    margin-right: 23px;
  }

  .hr-title-posts {
    margin-left: 8%;
  }

  .nav-bar {
    display: none;
  }

  .hero {
    display: block;
    justify-content: space-between;
  }

  .hero>img {
    margin-top: 29px;
    border-radius: 20px;
    width: 375px;
    margin-left: auto;
    margin-right: auto;
  }

  .hero p {
    text-align: justify;
    font-weight: 300;
    margin: 0 15px;
  }

  .social-network {
    position: relative;
    margin-top: 30px;

    align-items: center;
    justify-content: center;
    display: flex;
  }

  .contact-we {
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .social-network .icon-network-social {
    max-width: 40px;
    margin: 8px
  }








  .container {
    display: flex;
    justify-content: center;
    padding: 15px;
  }



  .square {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 380px;
    height: 100%;
    background: white;
    border-radius: 4px;
    box-shadow: 0px 20px 50px #D9DBDF;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .mask {
    clip: rect(0px, 460px, 220px, 0px);
    border-radius: 4px;
    position: absolute;
  }

  #img-posts {
    width: 350px;
  }

  .h1 {
    margin: auto;
    text-align: right;
    margin-top: 240px;
    padding-right: 30px;

    font-family: 'Merriweather', serif;
    font-size: 24px;
  }

  .text-content {
    text-align: justify;
    /* text-align: right; */
    padding-left: 30px;
    padding-right: 30px;
    font-size: 12px;
    color: #000;
    line-height: 18px;
    flex-grow: 1;
    max-height: 150px;
  }

  .button {
    background-color: #3EDD84;
    color: white;
    width: 111px;
    padding: 10px 18px;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
    /* margin-right: 65%; */
    font-size: 12px;
    cursor: pointer;
    font-family: 'merriweather';
    font-family: 'Dirooz';
    align-self: flex-end;
  }

  .btn-auth {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 3%;
  }

  .btn-auth>h5,
  h6 {
    color: #7c7c7c;
    font-size: 9px;
  }

  .ads-header {
    max-width: 360px;
    display: grid;
    justify-content: center;

  }

  .ads-header img {
    width: 100%;
  }

  .border-nav-b {
    margin-left: 20px;
    margin-right: 20px;
    color: #5757578a
  }

  .post-container {
    display: block;
    max-width: 380px;
    justify-content: center;
  }


}